[pylint.'E']
disable=C0114, C0115, C0116, E0401, W0718, C0412, C0103, C0302, E0611, E0213, E1101, C0121, R0903, R1710, E1102, C0411

; C0114:missing-module-docstring
; C0115:missing-class-docstring
; C0116:missing-function-docstring
; E0401:import-error
; W0718:broad-exception-caught
; C0412:ungrouped-imports
; C0103:invalid-name
; C0302:too-many-lines
; E0611:no-name-in-module
; E0213:no-self-argument
; E1101:no-member
; C0121:singleton-comparison
; R0903:too-few-public-methods
; R1710:inconsistent-return-statements
; E1102:not-callable
; C0411:wrong-import-order